.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    width: 600px;
    padding-bottom: 30px 0 80px;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    width: 300px;
    text-align: center;
    display: inline-block;
}

.underline{
    width: 110px;
    height: 6px;
    background: #fff;
    border-radius: 9px;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px; 
}

.submit-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #344862;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.title {
  text-align: end;
  top: 0px;
  right: 0px;
  color: #fff;
  font-size: x-large;
}

.logo {
    font-size: x-large;
    text-align: end;
    mix-blend-mode:unset;
}

.signUpLink {
    padding-right: 62px;
    color: #fff;
    margin-top: 27px;
    font-size: 18px;
}

.signUpLink a {
    color: #6c63FF;
    cursor: pointer;
}
.top-right-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}